<script type="text/javascript">
    var dimmer%.object_id%brightnessLevel=%.brightnessLevel%;
    var dimmer%.object_id%cctLevel=%.cctLevel%;
    var dimmer%.object_id%Timer=0;

    function sendNewbrightness%.object_id%() {
        //setGlobal("%.object_title%.brightnessLevel",dimmer%.object_id%brightnessLevel);
		callMethod('%.object_title%.setBrightnessLevel','value='+dimmer%.object_id%brightnessLevel);
    }
    function dimmerSetbrightness%.object_id%(val) {
		dimmer%.object_id%brightnessLevel=val;
        $('#dimmer%.object_id%_bright').html(dimmer%.object_id%brightnessLevel);
        sendNewbrightness%.object_id%();
    }

    function sendNewcct%.object_id%() {
        //setGlobal("%.object_title%.cctLevel",dimmer%.object_id%cctLevel);
		callMethod('%.object_title%.setCctLevel','value='+dimmer%.object_id%cctLevel);
    }
    function dimmerSetcct%.object_id%(val) {
        dimmer%.object_id%cctLevel=val;
        $('#dimmer%.object_id%_cct').html(dimmer%.object_id%cctLevel);
        sendNewcct%.object_id%();
    }
    
</script>
<div class="device-widget controller loadtype_%.loadType%">
 <div onClick='$("#icon%.object_id%_light").addClass("pressed");setTimeout("$(\"#icon%.object_id%_light\").removeClass(\"pressed\");",300);callMethod("%.object_title%.switch");'>
  <div class="device-icon %.status|"off;on"%" id="icon%.object_id%_light" style='%.icon|"background-image:url(%.icon%)"%'></div>
  <div class="device-header">%.object_description%</div>
</div>
<p>

 <div class="device-details"> <span id="dimmer%.object_id%_bright">Яркость: %.brightnessLevel%</span></div>
  <input id="dimmerSelect%.object_id%" type="range" min="0" max="100" step="1" value="%.brightnessLevel%" oninput="dimmerSetbrightness%.object_id%(this.value);">
  <div class="device-details"> <span id="dimmer%.object_id%_cct">Температура: %.cctLevel%</span></div>
  <input id="dimmerSelect%.object_id%" type="range" min="0" max="100" step="1" value="%.cctLevel%" oninput="dimmerSetcct%.object_id%(this.value);">
 </p>
</div>